[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
selenium = "*"
pynput = "*"
requests = "*"
speedtest-cli = "*"
yeelight = "*"
sonoff-python = "*"
pyserial = "*"
python-kasa = "*"
meross-iot = "==0.4.1.1rc1"

[dev-packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
